<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE RelativeLayout>
<phpunit colors="true" bootstrap="../../Bootstrap.php">
    <testsuite name="Resource">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist>     
            <directory suffix=".php">../../../ServerMonitor/Resource</directory>
        </whitelist>
    </filter> 
</phpunit>
